/***********************************************************
*                           RESET                          *
************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; 
font-size: 100%; vertical-align: baseline; background: transparent; } body { 
line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: 
none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
tr,th,td { vertical-align: baseline; }

/***********************************************************
*                        HTML ELEMENTS                     *
************************************************************/

body
{
  font-family: 'Lucida Grande',Arial,Helvetica,sans-serif;
  line-height: 1.66667;
  font-size: 75%;  /* 100% = 16px */
  color: #333;
}
html>body { font-size: 12px; /* for non-IE */}

h1,h2,h3 { }
h4,h5 {  }

h1 { font-size: 1.83333em; line-height: 1.36364; } /* 22px */
h2 { font-size: 1.66667em; line-height: 1.5; } /* 20px */
h3 { font-size: 1.5em; line-height: 1.66667; } /* 18px */
h4 { font-size: 1.33333em; line-height: 1.25; } /* 16px */
h5 { font-size: 1.16667em; line-height: 1.42857; } /* 14px */
h6 { font-size: 1em; line-height: 1.66667; } /* 12px */

p { margin: 1.66667em 0; }
p { _overflow: visible; _height: 1%; } /* IE6 italics bug */

ul, ol, dl { margin: 0; }
ul ul, ol ol, ul ol, ol ul { margin: 0 0; }

ul, ol { margin-left: 0; padding-left: 2em; }
ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

a { color: #313428; text-decoration: none; }
a:link {}
a:visited {}
a:hover, a:focus { color: #cc0000; }
a:active {}

img { border: 0; }
fieldset { border: 1px solid #ccc; padding: 9px; }

blockquote        { border-left: 2px solid #CCC; color: #666; padding: 5px 10px 1px; margin: 10px; font-style: normal; }
code          { background: #EAEAEA; color: #333; font-family: Consolas, Monaco, Courier, monospace; font-size: 11px; margin: 1px 0; padding: 1px 3px; }
pre code        { background: #322E2C; border: 1px solid #635957; color: #FFF; display: block; overflow: scroll; padding: 1.5em 1.75em; }

input[type=text], input[type=password], textarea  { background: url("images/form.jpg") repeat-x top #FFF; border: 1px solid #CCC; padding: 5px 3px; }
input[type=submit]  { font-family: 'Lucida Grande', Arial, Helvetica, sans-serif; background: url("images/feed-title-white.jpg") repeat-x; border: 1px solid #CCC; padding: 5px 10px; font-size: 12px; color: #000; font-weight: 700; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
input[type=submit]:hover  { background: #313428; color: #FFF; }


table, th, td     { border: 1px solid #CCC; }
th, thead th      { font-weight: 700; color: #333; background: #DDD; }
/* td, tbody td      { background: #F0F0F0; } */
table  { border-collapse: collapse; border-spacing: 0; font-size: 11px; font-weight: bolder;}
th, td  { padding: 3px; }

dl  { margin: 10px 0; font-size: 14px; }
dl dt  { color: #666; padding-bottom: 3px; }
dl dd  { margin: 0 0 10px 0; line-height: 1.5em; }

.view-id-exclusive_picks .views-row{
	border-bottom: 4px double #212E3D;
	padding: 12px;
}
.mask{
	color: white;
	font-weight: bold;
	
}

.mask ul li span div div {
	font-size: 100%!important;
}

ul.liScroll span{
	margin:0 400px 0 0!important;
}

ul.liScroll{
	
	font-size: 13px!important;
}

.liScroll-container .mask{
	top:-5px!important;
}

.view-id-news .views-row{
  margin-bottom: 8px;
}
.item-list .pager li{
	padding: 0;
}
tr.even{
	background-color: #F2F1F1;
	border-bottom: 1px solid #ccc;
	padding: 0.1em 0.6em;
}
tr.odd{
	background-color: #D8D8D8;
	border-bottom: 1px solid #ccc;
	padding: 0.1em 0.6em;
}

tr.even:hover, tr.odd:hover{
	background-color: white!important;
}

#block-user-login .item-list{
   display: none!important;
}

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #006e16;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #368c04;
  text-decoration: none;
}

#corners-form table, #cards-form table{
	font-size: 13px;
}

.wellcome{
	  font-weight: bold;
  font-size: 15px;
}
.dear{
	font-size: 13px;
  font-weight: bold;
}
.user-name{
	font-weight: bold;
  color: brown;
}

#block-block-33{
	width: 300px;
  height: 110px;
  box-shadow: 0px 0px 3px #888888;
}

.info-text{
 font-weight: bold;
 color: rgb(87, 87, 87);
}

#block-user-online p{
  margin-top: 1px;
  font-size: 10px;
  font-weight: bold;
}

#block-user-online .item-list{
  list-style-type: none;
}

#block-user-online ul{
	background: rgb(90, 1, 1);

}

#block-user-online ul li{
  list-style-type: none;
  text-align: left;
  text-transform: capitalize;
  padding: 2px 0px 2px 18px;
  margin: 0px;
  border-bottom: 1px solid silver;
  background-image: url("images/15-Tick-icon.png");
  background-repeat: no-repeat;
  background-position: 130px;
}

#block-user-online ul li a, #block-user-online ul li span{
	color: white;
}

#block-views-news-block-1 .views-row{
	border-bottom: 1px dashed silver;
}

#block-views-news-block-1 .views-field{
	 padding-bottom: 4px;
}

#block-views-news-block-1 .field-content a{
	 font-weight: bold;
}

#block-views-news-block-1 .item-list ul li{
	margin: 0px;
}


/* ======================== */


.CSSTableGenerator {
	margin:0px;padding:0px!important;
	width:100%!important;
	border:none!important;
	
	-moz-border-radius-bottomleft:0px!important;
	-webkit-border-bottom-left-radius:0px!important;
	border-bottom-left-radius:0px!important;
	
	-moz-border-radius-bottomright:0px!important;
	-webkit-border-bottom-right-radius:0px!important;
	border-bottom-right-radius:0px!important;
	
	-moz-border-radius-topright:0px!important;
	-webkit-border-top-right-radius:0px!important;
	border-top-right-radius:0px!important;
	
	-moz-border-radius-topleft:0px!important;
	-webkit-border-top-left-radius:0px!important;
	border-top-left-radius:0px!important;
}.CSSTableGenerator table{
  border-collapse: collapse!important;
  border-spacing: 0!important;
	width:60%!important;
	height:100%!important;
	margin:0px 17%!important;
	padding:0px!important;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffffff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #e5dcdc;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:2px;
	font-size:15px;
	/* font-family:Arial; */
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, rgb(8, 48, 75) 5%, #000000 100%);	
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgb(8, 48, 75)), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, rgb(8, 48, 75) 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=rgb(8, 48, 75), endColorstr="#000000");	
	background: -o-linear-gradient(top,rgb(8, 48, 75),000000);

	background-color:#b50e0e;
	border:0px solid #e5dcdc;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:17px;
	/* font-family:Arial; */
	font-weight:bold;
	color:#ffffff;
}
/*
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #b50e0e 5%, #000000 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b50e0e), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #b50e0e 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b50e0e", endColorstr="#000000");	
	background: -o-linear-gradient(top,#b50e0e,000000);
	background-color:#b50e0e;
}
*/
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.money{
	color: rgb(255, 97, 0);
  margin-top: 9px;
  font-size:20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.plan{
	font-weight: bold;
  padding-top: 9px;
  /* font-family: initial; */
}


.paypal{
	background: url("http://dev.betandrelax.com/pricing/ps.gif") no-repeat;
	padding-bottom: 83px;
	margin-left: 74px;
	float: left;
  padding: 117px;
  margin-top: -6px;
}

.sign-btn{
  -webkit-border-radius: 4!important;
  -moz-border-radius: 4!important;
  border-radius: 4px!important;
  font-family: Arial!important;
  color: #ffffff!important;
  font-size: 17px!important;
	background:-o-linear-gradient(bottom, #840909 5%, #000000 100%)!important;	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #840909), color-stop(1, #000000) )!important;
	background:-moz-linear-gradient( center top, #840909 5%, #000000 100% )!important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#840909", endColorstr="#000000")!important;	
	background: -o-linear-gradient(top,#840909,000000)!important;
	background-color:#b50e0e!important;
  padding: 5px 12px 6px 11px!important;
  text-decoration: none!important;
  font-weight: bold!important;
 }
.sign-btn:hover{
  -webkit-border-radius: 4!important;
  -moz-border-radius: 4!important;
  border-radius: 4px!important;
  font-family: Arial!important;
  color: #ffffff!important;
  font-size: 17px!important;
	background:-o-linear-gradient(bottom, #FF0F0F 5%, #000000 100%)!important;	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF0F0F), color-stop(1, #000000) )!important;
	background:-moz-linear-gradient( center top, #FF0F0F 5%, #000000 100% )!important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF0F0F", endColorstr="#000000")!important;	
	background: -o-linear-gradient(top,#FF0F0F,000000)!important;
	background-color:#000000!important;
  padding: 5px 12px 6px 11px!important;
  text-decoration: none!important;
  font-weight: bold!important;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
     
.foter-text{
	float: left;
}     

#payment-method{
	margin-top: 62px;
}	